@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

.headshot {
    width: fit-content;
    height: auto;
    max-width: 12rem;

    grid-area: headshot;
    align-self: center;
    justify-self: center;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        z-index: 9;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border: 7px solid hsla(241, 56%, 68%, 1);
    }
    &::before {
        transform: translate(-13px, -13px);
    }
    &::after {
        transform: translate(13px, 13px);
    }
}
