@use "../abstracts/mixins" as *;

.container {
    padding: 0 1.8em;
    margin: 0 auto;

    @include mq(small) {
        max-width: 750px;
    }
    @include mq(medium) {
        max-width: 990px;
    }
}
