// @use "../abstracts/colors" as *;

.underline {
    display: inline;
    background-image: linear-gradient(
        var(--underline-clr, hsl(241, 54%, 50%)),
        var(--underline-clr, hsl(241, 54%, 50%))
    );
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    padding-bottom: 0.1875em;
}
