$type-scale: (
    small: (
        300: 0.875rem,
        400: 1rem,
        500: 1.563rem,
        600: 1.853rem,
        700: 2.1rem,
        800: 2.5rem,
    ),
    large: (
        300: 0.875rem,
        400: 1.125rem,
        500: 2rem,
        600: 2.827rem,
        700: 3.75rem,
        800: 4.25rem,
    ),
);

$font-weight: (
    light: "300",
    regular: "400",
    medium: "500",
    semi-bold: "600",
    bold: "700",
);

$line-height: (
    small: (
        100: "1.25em",
        200: "1.4em",
        300: "1.65em",
    ),
    medium: (
        100: "1.087em",
        200: "1.5em",
        300: "1.8em",
    ),
);
