// @use "sass:color" as *;
@use "type-scale" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

/*  ================
    ===TYPOGRAPHY===
*/

body {
    @include ff(primary, sans-serif);
}

h1,
h2,
h3 {
    @include ff(secondary, serif);
    @include fw(semi-bold);
}

h1,
.h1 {
    @include fs(800);
    @include lh(100);
}

h2,
.h2 {
    @include fs(600);
    @include fw(regular);
    @include lh(200);
}

h3,
.h3 {
    @include fs(500);
    @include lh(200);
}

p,
.p,
a {
    @include fs(400);
    @include fw(light);
    @include lh(300);
}

.contact-form p {
    @include fw(medium);
}

footer p,
.card-links a,
.nav-links-container a {
    @include fs(300);
}

nav {
    li {
        list-style: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    .logo {
        @include fw(bold);
    }
    .nav-anchor,
    .logo {
        @include clr(color, gray-scale, light);
    }
}

p {
    color: rgba(hsl(0, 0%, 12%), 0.8);
}

.hero *,
.about-me *,
footer {
    @include clr(color, gray-scale, light);
}

.about-me p,
footer p {
    color: rgba(hsl(242, 81%, 94%), 0.7);
}
