$colors: (
    primary: (
        100: hsl(0, 0%, 54%),
        200: hsl(0, 0%, 41%),
        300: hsl(0, 0%, 23%),
    ),
    secondary: (
        100: hsl(241, 100%, 86%),
        200: hsl(241, 67%, 66%),
        300: hsl(241, 54%, 50%),
        400: hsl(241, 69%, 39%),
        500: hsl(241, 84%, 29%),
    ),
    gray-scale: (
        light: hsl(242, 50%, 89%),
        dark: hsl(0, 0%, 9%),
    ),
);
