@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
/*  ===============
    ===MAIN PAGE===
*/

body {
    display: flex;
    flex-direction: column;
}

/*hero*/
.hero {
    @include fs(800);
    padding: 4em 0;
    &-title {
        max-width: 10em;
    }

    @include mq(medium) {
        padding: 2em 0;

        &-title {
            max-width: 10em;
        }
    }
}

.project,
.about-me,
.contact {
    padding: 4em 0;
    @include mq(medium) {
        padding: 7em 0;
    }
}

/*project*/
.project {
    position: relative;
}
.project::before {
    content: url(../img/bg-portfolio2.svg);
    position: absolute;
    top: -150px;
    left: -180px;
    z-index: -1;
}

@include mq(medium) {
    .project::before {
        top: -65px;
        left: -200px;
    }
}
.card-description {
    max-width: 25em;
}

.card-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
        display: flex;
    }
}

/*about*/
.about-me {
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        "heading"
        "text"
        "headshot";

    @include mq(small) {
        grid-template-columns: 65% auto;
        grid-template-areas:
            "heading headshot"
            "text headshot";
    }

    h2 {
        grid-area: heading;
    }

    p {
        grid-area: text;
        max-width: 35rem;
    }
}

/*contact*/
.contact {
    position: relative;
}
.contact::before {
    position: absolute;
    z-index: -1;
}

.contact {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;

    grid-template-areas:
        "heading"
        "form"
        "text";

    @include mq(medium) {
        column-gap: 5rem;
    }

    @include mq(small) {
        grid-template-areas:
            "heading heading"
            "form text";
    }
}

.contact-heading {
    grid-area: heading;
}

.contact-form {
    grid-area: form;
}

.contact-text {
    grid-area: text;
}

.social-link {
    display: flex;
    align-items: center;

    &-item {
        display: flex;
    }
}

* + .social-link-item {
    margin-left: 1em;
}
