@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
/*  ================
    ======MAIN======
*/
.hero {
    display: grid;
    @include fs(800);
    padding: 4em 0;

    &-title {
        max-width: 10em;
    }

    @include mq(medium) {
        padding: 2em 0;

        &-title {
            max-width: 10em;
        }
    }
}

.project,
.about-me,
.contact {
    display: grid;
    padding: 4em 0;

    @include mq(medium) {
        padding: 7em 0;
    }
}

.card-title h3 {
    max-width: 15em;
}
.card-description,
.about-me p {
    max-width: 25em;
}

:target {
    outline: 0.7px solid #706ee2;
    outline-offset: 3px;
}
