@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
/*  ================
    ======MAIN======
*/

//hero
.hero {
    display: grid;
    @include fs(800);
    padding: 4em 0;

    &-title {
        max-width: 10em;
    }

    @include mq(medium) {
        padding: 2em 0;

        &-title {
            max-width: 10em;
        }
    }
}

.project,
.about-me,
.contact {
    display: grid;
    padding: 4em 0;

    @include mq(medium) {
        padding: 7em 0;
    }
}

//project

.card-title h3 {
    max-width: 15em;
}
.card-description,
.about-me p {
    max-width: 25em;
}

.card-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
        display: flex;
    }
}

//contact
.contact-form {
    display: grid;
    gap: 2rem 5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "name"
        "email"
        "message"
        "text";

    @include mq(small) {
        grid-template-areas:
            "name text"
            "email text"
            "message blank";
    }

    input,
    textarea {
        width: 100%;
        max-width: 30rem;
    }
}

.name-container {
    grid-area: name;
}
.email-container {
    grid-area: email;
}
.message-container {
    grid-area: message;
}
.text-container {
    grid-area: text;
}

//footer
footer {
    .container {
        display: flex;
    }
    p {
        margin-left: auto;
        margin-right: auto;
    }
}
