@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../base/type-scale" as *;
/*  ================
    =====NAVBAR=====
*/
header {
    // @include clr(background, primary, 300);
    position: fixed;
    width: 100%;
    z-index: 999;

    background: hsl(0, 0%, 23%);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
    transition: background 300ms ease-in;
}
nav {
    position: relative;
    display: grid;
    grid-template-columns: 10% 90%;
}
.logo {
    padding: 1em 0;
}
.nav-links-container {
    position: absolute;
    top: 3.6em;
    right: 0;
    grid-column: span 2;
    margin: auto 0;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 200ms ease-in-out 50ms;

    &.active {
        transform: scale(1, 1);

        a {
            opacity: 1;
            transition: opacity 200ms ease-in-out 300ms;
        }
    }

    ul {
        text-align: end;
        padding: 0 1.8em;
        transition: background 300ms ease-in;
        @include clr(background, primary, 300);
    }

    li {
        position: relative;
        margin-left: auto;
        width: fit-content;
    }

    a {
        display: inline-block;
        border-radius: 1.6px;
        padding: 1em 0;
        width: 100%;
        opacity: 0;
        transition: transform ease-in-out 200ms, opacity 120ms ease-in-out;
    }

    a::after {
        content: "";
        display: inline-block;
        height: 2px;
        width: 100%;
        bottom: 5px;
        @include clr(background, secondary, 200);

        position: absolute;
        left: 0;
        transform: scale(0, 1);
        transition: all ease-in-out 300ms;
    }

    a:hover,
    a:focus {
        transform: scale(1.001) translateY(-5px);
    }
    a:hover::after,
    a:focus::after {
        transform: scale(1, 1);
    }
    a:active::after {
        @include clr(background, secondary, 100);
    }
    a:active {
        @include clr(color, secondary, 100);
    }

    @include mq(small) {
        transform: scale(1, 1);
        top: 0.5em;
        grid-column: span 1;
        ul {
            display: flex;
            justify-content: flex-end;
            background: unset;
        }
        a {
            opacity: 1;
            padding: 1em 1.5em;
        }
    }
}

.toggle-btn {
    margin-left: auto;
    @include mq(small) {
        display: none;
    }
}

//navbar-intersection-observer
.nav-scrolled-light {
    background-color: hsl(240, 100%, 98%);
    a {
        @include clr(color, gray-scale, dark);
    }
    .bar {
        @include clr(background, gray-scale, dark);
    }
    ul {
        background: hsl(240, 100%, 98%);
    }
}
